html, body {
    height: 100%;
    width: 100%;
}

.header {
    background-color: red;
    height: 100px;
}

* {
    margin: 0;
}

.menu {
    background-color: yellow;
    list-style-type: none;
    border: 1px solid black;
    height: 25px;
}

.menu li {
    display: inline-block;
    border-right: 1px solid black;
}

.main-div {
    background-color: green;
    min-height: calc(100% - 185px);
}

.footer {
    background-color: pink;
    margin-top: auto;
    height: 60px;
}

.header, .footer, .main-div, .menu {
    text-align: center;
}
