body{
    text-align: center;
}

ul{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 500px;
    padding: 20px 0 0 20px;
    list-style-type: none;
}

li{
    background: #3edfed;
    padding: 20px 20px 0 20px;
    margin: 0 30px 30px 0;
}

img{
    height: 180px;
    width: 180px;
}