#menu {
    display: flex;
    flex-direction: column;

    /* float: left; */
}

* {
    margin: 0;
}

#menu li {
    list-style: none;
    display: block;
    height: 84px;
}

#img1 {
    left: 0;
    width: 84px;
    background: url('social.png') 0 -84px;
}

#img1:hover{
    background: url('social.png') 0 0;
}

#img2 {
    left: 84px;
    width: 84px;
    background: url('social.png') -84px -84px;
}

#img2:hover {
    background: url('social.png') -84px 0;
}

#img3 {
    left: 168px;
    width: 84px;
    background: url('social.png') -168px -84px;
}

#img3:hover {
    background: url('social.png') -168px 0;
}


#img4 {
    left: 252px;
    width: 84px;
    background: url('social.png') -252px -84px;
}

#img4:hover {
    background: url('social.png') -252px 0;
}

#img5 {
    left: 336px;
    width: 84px;
    background: url('social.png') -336px -84px;
}

#img5:hover {
    background: url('social.png') -336px 0;
}

#img6 {
    left: 418px;
    width: 84px;
    background: url('social.png') -420px -84px;
}

#img6:hover {
    background: url('social.png') -420px 0;
}

#img7 {
    left: 501px;
    width: 84px;
    background: url('social.png') -504px -84px;
}

#img7:hover {
    background: url('social.png') -504px 0;
}

#img8 {
    left: 584px;
    width: 84px;
    background: url('social.png') -588px -84px;
}

#img8:hover {
    background: url('social.png') -588px 0;
}

#img9 {
    left: 667px;
    width: 84px;
    background: url('social.png') -670px -84px;
}

#img9:hover {
    background: url('social.png') -670px 0;
}

#img10 {
    left: 750px;
    width: 84px;
    background: url('social.png') -756px -84px;
}

#img10:hover {
    background: url('social.png') -756px 0;
}

#img11 {
    left: 833px;
    width: 84px;
    background: url('social.png') -840px -84px;
}

#img11:hover {
    background: url('social.png') -840px 0;
}
